.example-card {
  max-width: 400px;
  margin: 5px;
  mat-card-footer{
    padding: 10px;
    text-align: center;
  }
}
a{
  text-decoration: none;
  color: darkblue;
}
mat-card-subtitle{
  span{
    float: end;
    margin-left: 3rem;
  }
}
